<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Ionic draw
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <div #fixedContainer ion-fixed>
    <ion-row>
      <ion-col *ngFor="let color of colors" [style.background]="color"
      class="color-block" tappable (click)="onSelectColor(color)">
      </ion-col>
    </ion-row>
    <ion-row radio-group [(ngModel)]="selectedColor">
      <ion-col *ngFor="let color of colors" text-center>
        <ion-radio [value]="color"></ion-radio>
      </ion-col>
    </ion-row>
    <div class="wrap-draw">
      <canvas #imageCanvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
      <img #image src="assets/imgs/img_test.jpg" alt="" (load)="afterLoading()" style="display: none">
    </div>
    <button ion-button full (click)="saveCanvasImage()">Save Image</button>
  </div>

    <ion-list>
      <ion-list-header>Previous Drawings</ion-list-header>
      <ion-card *ngFor="let obj of storedImages; let i = index">
        <ion-card-content>
          <img [src]="getImagePath(obj)" >
        </ion-card-content>
        <ion-row>
          <button ion-button icon-only full color="danger" (click)="removeImageAtIndex(i)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-row>
      </ion-card>
    </ion-list>
</ion-content>
